.case-area .api_type_btn {
   display: flex;
   justify-content: center;
   padding-top: 60px;
   padding-bottom: 45px;
   gap: 15px;
}

.api_type_btn button {
  text-align: center;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
}

.api_type_btn button[aria-selected="true"] {
  background-color: var(--active-red) !important;
  color: var(--white) !important;
}

.api_type_btn button[aria-selected="false"] {
  background-color: #ebebeb !important;
}

.api_type_btn button[aria-selected="false"]:hover {
  color: var(--primary-color) !important;
}

@media (max-width: 927px) { /* Target screens smaller than 768px */
  .api_type_btn button {
    padding: 10px 15px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 800px) { /* Target screens smaller than 768px */
  .api_type_btn button {
    padding: 7px 7px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 677px) { /* Target even smaller screens */
  .api_type_btn button {
    padding: 10px 15px;
    font-size: 0.8rem; /* Adjust font size for very small screens (optional) */
  }
}

@media (max-width: 619px) { /* Target even smaller screens */
  .api_type_btn button {
    padding: 7px 7px;
    font-size: 0.6rem; /* Adjust font size for very small screens (optional) */
  }
}

@media (max-width: 420px) { /* Target even smaller screens */
  .api_type_btn button {
    padding: 5px 5px;
    font-size: 0.5rem; /* Adjust font size for very small screens (optional) */
  }
}

.case-area .api_type_btn div button{
   background-color: rgba(0, 0, 0, 0.1);
}

.case-two__item {
   height: 420px;
   overflow: hidden;
   cursor: pointer;
}

.case-two__item h4 {
   max-width: 80%;
}

.case-two__description {
   transition: all 0.3s ease;
   position: absolute;
   width: 100%;
   height: 100%;
   display: grid;
   place-items: center;
   padding: 30px;
   z-index: 1;
   opacity: 0;
   color: white;
   font-size: 18px;
   background-color: rgba(0, 0, 0, 0.1);
}

.case-two__content span {
   background: var(--active-red);
   color: white;
   padding: 5px 10px;
   margin-bottom: 5px;
   margin-left: 0px;
}

.case-two__content * {
   margin-left: 30px;
   padding-right: 30px;
}

.case-two__image {
   height: 100%;
}

.case-two__image img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   filter: brightness(50%);
}

.case-two__description p {
   line-height: 150%;
}

.case-two__item:hover .case-two__description {
   opacity: 1;
}

/* @media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 95%;
    }
} */

@media (min-width: 1400px) {
    .dksh-api-catalog-max-width {
        max-width: 95%;
    }
}

.search-container {
  display: flex; /* Make the container a flexbox */
  justify-content: center; /* Center elements horizontally */
}

.form-outline {
  width: 93%;
}

.container#api-catalog-tiles {
  max-width: 75%;
}

#api-catalog-tile-description {
  margin-top: 100px;
}