
* {
  margin: 0;
  padding: 0;
  font-family: "Poppinss", sans-serif;
  box-sizing: border-box;
}
body {
  padding: 0 8%;
}
h2 {
  font-size: 3.2rem;
  text-transform: uppercase;
  padding: 24px 0;
}
.Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.Gallery img {
  max-width: 298px;
  max-height: 224px;
  margin: 2px;
}
.Gallery img:hover {
  cursor: pointer;
  filter: brightness(70%);
}
#FullImageView {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.9);
  text-align: center;
}
#FullImage {
  padding: 24px;
  max-width: 98%;
  max-height: 98%;
}
#CloseButton {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}